@font-face {
  font-family: 'Proxima_regular';
  font-style: normal;
  font-weight: normal;
  src: local('mm'), 
       url('../../Fonts/proxima_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima_bold';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Proxima_semi';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Semibold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Proxima_thin';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Thin.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Futura_bold';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/Futura Heavy font.ttf') format('truetype');
  }



/* blog wrapper styles */

.blog_listing
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  margin: 0 auto;
  justify-content:center;
  flex-direction: column;
  text-align: left;
  max-width: 900px;
  padding: 24px;
}

.intro{
  margin: 70px 0px ;
}

.blog_listing .intro h1{
  margin: 20px 0px;
}
.blog_listing .listing_card{
border-bottom: 1px solid #222222;
padding: 10px 0px;
}
.blog_listing p{
  font-family: 'Proxima_regular';
  font-size: 15px;
  line-height: 24px;
  margin-top:0px;
  color:#666666;
}

.blog_listing h1{

  color: #222222;
  font-family: 'Futura_bold';
  margin: 0px;
  font-size: 34px;
  font-weight: 500;
}

.blog_listing h2{

  color:#222222;
  font-family: 'Futura_bold';
  font-size: 34px;
  font-weight: 500;
  margin-top: 10px;
}

.blog_listing h3{

  color:#222222;
  font-family: 'Futura_bold';
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}
.blog_listing h5{

  color: #A2A2A2;
  font-family: 'Futura_bold';
  font-size: 20px;
  max-width: 584px;
  font-weight: 500;
  margin-top: 0px;
}
.blog_listing h4{

  color:#4F4B4B;
  text-align: center;
  font-family: 'Futura_bold';
  font-size: 24px;
  font-weight: 500;
  margin-top: 90px;
}

.blog_listing a
{
text-decoration: none;
color: #222222;
}