@font-face {
  font-family: 'Proxima_regular';
  font-style: normal;
  font-weight: normal;
  src: local('mm'), 
       url('../../Fonts/proxima_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima_bold';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Proxima_semi';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Semibold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Proxima_thin';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Thin.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Futura_bold';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/Futura Heavy font.ttf') format('truetype');
  }



.mem
{
 font-family: 'Futura_bold';
 height: 100%;
 z-index: 0;
 width: 100%;
 padding:484px;
 position: absolute;
 background: aqua;
 color:#2E2E2E;
 box-sizing: border-box;
 margin: 0px;
 font-size: 24px;

}
