.fill {
    display: flex;
    text-align: left;
    flex-direction:column;
    width: 585px;
    overflow: hidden;
    margin: 40px;
}
.fill img {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.titles{
    color:#4F4B4B;
    font-family: 'futura';
    font-size: 34px;
    margin: 20px 0px 20px 0px;
}

.captions{
 font-family: 'Courier New', Courier, monospace;
 margin-top:0px;
 font-weight: 400;
 color:#777;
}