@font-face {
    font-family: 'Proxima_regular';
    font-style: normal;
    font-weight: normal;
    src: local('mm'), 
         url('../../Fonts/proxima_Regular.ttf') format('truetype');
  }
  
  @font-face {
      font-family: 'Proxima_bold';
      font-style: normal;
      font-weight: normal;
      src: local('mm'),
           url('../../Fonts/proxima_Bold.ttf') format('truetype');
    }
    
    @font-face {
      font-family: 'Proxima_semi';
      font-style: normal;
      font-weight: normal;
      src: local('mm'),
           url('../../Fonts/proxima_Semibold.ttf') format('truetype');
    }
    @font-face {
      font-family: 'Proxima_thin';
      font-style: normal;
      font-weight: normal;
      src: local('mm'),
           url('../../Fonts/proxima_Thin.ttf') format('truetype');
    }
    

a .fill {
    display: flex;
    text-align: left;
    flex-direction:column;
    width: 585px;
    overflow: hidden;
    margin: 40px;
}
a .fill img {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}
.container a{
    text-decoration: none;
    display: contents;
}
.titles{
    color:#222222;
    font-family: 'futura';
    font-size: 34px;
    margin: 20px 0px 20px 0px;
}

.captions{
 font-family: 'Proxima_regular';
 font-size: 15px;
 line-height: 24px;
 margin-top:0px;
 font-weight: 400;
 color:#666666;
}