
.header{
    width: 100%;
    padding: 30px 0px;
    background-color: #393a44;
    position:fixed;
  
}

h2
{
 font-family: 'futura';
 color: #EEE;
 margin: 0px;
 font-size: 18px;
 font-weight: 500;
}