@font-face {
  font-family: 'Proxima_regular';
  font-style: normal;
  font-weight: normal;
  src: local('mm'), 
       url('../../Fonts/proxima_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima_bold';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Proxima_semi';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Semibold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Proxima_thin';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/proxima_Thin.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Futura_bold';
    font-style: normal;
    font-weight: normal;
    src: local('mm'),
         url('../../Fonts/Futura Heavy font.ttf') format('truetype');
  }

.header{


    width: 100%;
    padding: 30px 0px;
    background-color: #ffffff;
    position:fixed;
  
}

.header a 
{
  text-decoration: none;
}

.header h2
{
 font-family: 'Futura_bold';
 color:#2E2E2E;
 margin: 0px;
 font-size: 24px;

}

.spacer {
    
  height: 40px;
}


@media only screen and (max-width: 1400px) {
   .spacer {
    
      height: 40px;
  }

}