
@font-face {
    font-family: 'Proxima_regular';
    font-style: normal;
    font-weight: normal;
    src: local('mm'), 
         url('../../Fonts/proxima_Regular.ttf') format('truetype');
  }
  
  @font-face {
      font-family: 'Proxima_bold';
      font-style: normal;
      font-weight: normal;
      src: local('mm'),
           url('../../Fonts/proxima_Bold.ttf') format('truetype');
    }
    
    @font-face {
      font-family: 'Proxima_semi';
      font-style: normal;
      font-weight: normal;
      src: local('mm'),
           url('../../Fonts/proxima_Semibold.ttf') format('truetype');
    }
    @font-face {
      font-family: 'Proxima_thin';
      font-style: normal;
      font-weight: normal;
      src: local('mm'),
           url('../../Fonts/proxima_Thin.ttf') format('truetype');
    }

.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    margin: 0 auto;
    justify-content:center;
    flex-direction: column;
    text-align: left;
    max-width: 900px;
    padding: 24px;
}

.gallery img{
    width: 100%;
    margin: 40px 0px;
}

.gallery p{
    font-family: 'Proxima_regular';
    font-size: 15px;
    line-height: 24px;
    margin-top:14px;
    color:#666666;
}

.gallery h2{
 
    color:#222222;
    font-family: 'futura';
    font-size: 34px;
    font-weight: 500;
    margin-top: 10px;
}

.gallery h3{

    color:#222222;
    font-family: 'futura';
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}
.gallery h5{

    color:#A2A2A2;
    font-family: 'futura';
    font-size: 20px;
    max-width: 584px;
    font-weight: 500;
    margin-top: 5px;
}
.gallery h4{

    color:#4F4B4B;
    text-align: center;
    font-family: 'futura';
    font-size: 24px;
    font-weight: 500;
    margin-top: 90px;
}

.gallery a{

    color:#4F4B4B;
    font-family: 'futura';
    font-size: 17px;
    font-weight: 500;
    margin-top: 26px;
}

.gallery a:nth-child(2){
    margin-left:40px;
}
.links{
    margin-bottom: 40px ;
}