
.header{
    width: 100%;
    padding: 30px 0px;
    background-color: #ffffff;
    position:fixed;
  
}

h2
{
 font-family: 'futura';
 color:#4F4B4B;
 margin: 0px;
 font-size: 18px;
 font-weight: 500;
}


.footer a{
    color:#4F4B4B;
    font-family: 'futura';
    font-size: 17px;
    font-weight: 500;
    margin-top: 26px;
    padding:50px 10px;
    
}
